---
import AstroIcon from "../assets/svg/brand-astro.svg";
import Button from "./Button.astro";
import CSS3 from "../assets/svg/brand-css3.svg";
import GitHub from "../assets/svg/github.svg";
import HTML from "../assets/svg/html.svg";
import JavaScript from "../assets/svg/brand-javascript.svg";
import Link from "../assets/svg/link.svg";
import Nodejs from "../assets/svg/brand-nodejs.svg";
import Project01 from "../assets/projects/pro01.webp";
import Project02 from "../assets/projects/pro02.webp";
import Tailwind from "../assets/svg/brand-tailwind.svg";

const TAGS = {
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#e44d26] text-white",
    icon: HTML,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#ff5d01] text-white",
    icon: AstroIcon,
  },
  JavaScript: {
    name: "JavaScript",
    class: "bg-[#f7df1e] text-black",
    icon: JavaScript,
  },
  Nodejs: {
    name: "Node.js",
    class: "bg-[#8CC84B] text-white",
    icon: Nodejs,
  },
  CSS3: {
    name: "CSS3",
    class: "bg-[#1572B6] text-white",
    icon: CSS3,
  },
};

const PROJECTS = [
  {
    title: "Omegha Constructor - Landing Page",
    description: "Página web de presentación para una empresa constructora.",
    image: Project01,
    link: "https://omegha-landing-page.vercel.app/es",
    TAGS: [TAGS.TAILWIND, TAGS.ASTRO],
  },
  {
    title: "Clinica Flores - Buscar pacientes",
    description: "Aplicación web para gestionar pacientes en una clínica.",
    image: Project02,
    github: "https://github.com/GeremyOcsa/back-wallpay",
    TAGS: [TAGS.HTML, TAGS.CSS3, TAGS.JavaScript, TAGS.Nodejs],
  },
];
---

<section id="proyectos" class="max-w-4xl w-full mx-auto mt-36">
  <h2 class="font-bold text-4xl lg:text-5xl mb-8">Proyectos</h2>
  <div class="mt-4 grid grid-cols-1 lg:grid-cols-2 gap-14">
    {
      PROJECTS.map(({ title, description, image, link, github, TAGS }) => (
        <div class="max-w-md bg-white border-2  rounded-2xl shadow-sm relative card-rounded">
          <img class="rounded-t-xl" src={image.src} alt={description} />
          <div class="p-5">
            <h5 class="mb-2 text-xl! font-bold tracking-tight text-[#330800]">
              {title}
            </h5>
            <p class="mb-3 font-normal text-[#330800] text-base!">
              {description}
            </p>
            <ul>
              {TAGS?.map((tag) => (
                <li
                  class={`inline-flex items-center justify-center px-2 py-1 rounded-full text-xs font-medium mr-1 ${tag.class}`}
                >
                  {tag.icon && <tag.icon class="size-4 mr-1" />}
                  {tag.name}
                </li>
              ))}
            </ul>
            <div class="mt-4">
              {link && (
                <Button href={link}>
                  <Link class="mr-1" />
                  Preview
                </Button>
              )}
              {github && (
                <Button href={github}>
                  <GitHub class="mr-1" />
                  GitHub
                </Button>
              )}
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
